<div id="table" *ngIf="!this.creando">

    <h1 class="text-center text-success"><i class="fa fa-users" aria-hidden="true"></i> Categorias </h1>

    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" [(ngModel)]="filtroNombre" (input)="aplicarFiltros()" class="form-control"
                placeholder="Filtrar por nombre">
        </div>

    </div>


    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th class="bg-success text-light" scope="col"><button (click)="addCategoria()" type="button"
                        class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuevo">
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
                <th class="bg-success text-light" scope="col">Id</th>
                <th class="bg-success text-light" scope="col">Nombre</th>
                <th class="bg-success text-light" scope="col">Año Minimo</th>
                <th class="bg-success text-light" scope="col">Control de edad</th>
                <th class="bg-success text-light" scope="col">Estado</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cat of categoriasFiltrados" class="text-center">
                <th scope="row">
                    <button (click)="editCategoria(cat.id!)" type="button" class="btn btn-warning m-1"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="editar"> <i
                            class="fa fa-edit"></i></button>
                    <!-- 
                    <button (click)="deleteCategoria(cat.id!)" type="button" class="btn btn-danger m-1">
                    <i class="fa fa-trash" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"></i>
                    </button>
                    -->



                </th>

                <td>{{cat.id}}</td>
                <td>{{cat.nombre}}</td>
                <td> {{cat.edad_min}}</td>

                <td>
                    <span *ngIf="cat.control_edad == '0'">NO</span>
                    <span *ngIf="cat.control_edad == '1'">SI</span>
                </td>


                <td>
                    <span class="text-danger" *ngIf="cat.estado == 0">Inactivo</span>
                    <span class="text-success" *ngIf="cat.estado == 1">Activo</span>
                </td>


            </tr>

        </tbody>
    </table>
</div>


<div class="container d-flex justify-content-center align-items-center min-vh-100" *ngIf="this.creando">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow-lg p-4 border bg-success">
            <h3 class="text-center mb-4 text-light"><i class="fa fa-users" aria-hidden="true"></i> Crear Categoria</h3>
            <form [formGroup]="CategoriaForm" (ngSubmit)="saveCategoria()" enctype="multipart/form-data">

                <!-- Nombre -->
                <div class="mb-3 row">
                    <label for="name" class="col-sm-3 col-form-label text-light">Nombre</label>
                    <div class="col-sm-9">
                        <input type="text" id="nombre" formControlName="nombre" class="form-control"
                            placeholder="Ingrese el nombre del jugador" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="controlEdad" class="col-sm-3 col-form-label text-light">Control de edad</label>
                    <div class="col-sm-9">
                        <select id="controlEdad" formControlName="controlEdad" class="form-select">

                            <option [value]="0">NO</option>
                            <option [value]="1">SI</option>

                        </select>
                    </div>
                </div>

                <div class="mb-3 row" *ngIf="this.CategoriaForm.get('controlEdad')?.value == 1">

                    <label for="edad" class="col-sm-3 col-form-label text-light">Año Minimo</label>
                    <div class="col-sm-9">
                        <input type="text" id="edadMin" formControlName="edadMin" class="form-control"
                            placeholder="Ingresa edad minima" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="estado" class="col-sm-3 col-form-label text-light">Estado</label>
                    <div class="col-sm-9">
                        <select id="estado" formControlName="estado" class="form-select">
                            <option [value]="0">Inactivo</option>
                            <option [value]="1">Activo</option>

                        </select>
                    </div>
                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-warning text-dark m-2" *ngIf="CategoriaForm.valid">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                    </button>

                    <button type="button" class="btn btn-secondary m-2" (click)="cancel()">
                        <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                    </button>
                </div>



                <!-- Spinner debajo de los botones -->
                <div *ngIf="isLoading" class="d-flex flex-column align-items-center mt-3">
                    <img src="../../../assets/img/balon.png" alt="Cargando..." width="40" height="40"
                        class="balon-girando" />
                    <span class="mt-2 text-warning fw-bold">Procesando, por favor espera...</span>
                </div>


            </form>
        </div>
    </div>


</div>