/* Eliminar Scrollbars en Navegación */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Custom Scrollbar para Tablas y Modales */
.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #10b981; border-radius: 10px; }

/* Estilos para NG-SELECT Cyber */
::ng-deep .custom-ng-select .ng-select-container {
  @apply bg-white border-none rounded-2xl py-4 px-6 text-slate-900 font-black shadow-2xl !important;
}

::ng-deep .custom-ng-select .ng-dropdown-panel {
  @apply bg-[#0b0e14] border-white/10 rounded-2xl overflow-hidden shadow-[0_30px_60px_-12px_rgba(0,0,0,1)] !important;
}

::ng-deep .custom-ng-select .ng-option {
  @apply border-b border-white/5 !important;
}

/* Spinner Girando */
.balon-girando {
  animation: spin 2s linear infinite;
}
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

/* Fix para Inputs de Formulario (Texto Oscuro) */
input::placeholder { color: #94a3b8; font-weight: normal; }