<div class="container-fluid fondo-inscripcion d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="text-center mb-3">
            <button type="button" class="btn btn-success" [routerLink]="'/home'">
                <i class="fa fa-home"></i>
            </button>
        </div>


        <div class="text-center card shadow-lg p-4 border bg-success">
            <img src="../../../assets/img/logo.png" alt="Logo" style="width: 150px; height: 150px;"
                class="mx-auto d-block mb-3">

            <h3 class="text-center mb-4 text-light"><i class="fa fa-users" aria-hidden="true"></i> Inscripcion Jugador
            </h3>
            <form [formGroup]="JugadorForm" (ngSubmit)="saveJugador()" enctype="multipart/form-data">

                <!-- Nombre -->
                <div class="mb-3 row">
                    <label for="name" class="col-sm-3 col-form-label text-light">Nombre</label>
                    <div class="col-sm-9">
                        <input type="text" id="name" formControlName="name" class="form-control"
                            placeholder="Ingrese el nombre del jugador" required>
                    </div>
                </div>

                <!-- Email -->
                <div class="mb-3 row">
                    <label for="name" class="col-sm-3 col-form-label text-light">Correo Electronico</label>
                    <div class="col-sm-9">
                        <input type="mail" id="mail" formControlName="mail" class="form-control"
                            placeholder="Ingrese su correo electronico" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="name" class="col-sm-3 col-form-label text-light">Fecha nacimiento</label>
                    <div class="col-sm-9">
                        <input type="date" id="fch_nacimiento" formControlName="fch_nacimiento" class="form-control"
                            (change)="onFechaNacimientoChange($event)" placeholder="Ingrese la fecha de nacimiento"
                            required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="estado" class="col-sm-3 col-form-label text-light">Posicion</label>
                    <div class="col-sm-9">
                        <select id="posicion" formControlName="posicion" class="form-select">
                            <option [value]="1">Arquero</option>
                            <option [value]="2">Defensa</option>
                            <option [value]="3">Volante</option>
                            <option [value]="4">Delantero</option>
                        </select>
                    </div>
                </div>


                <div class="mb-3 row">
                    <label for="estado" class="col-sm-3 col-form-label text-light">Tipo de documento</label>
                    <div class="col-sm-9">
                        <select id="estado" formControlName="TipoDoc" class="form-select"
                            (change)="updateDocumento($event)">
                            <option [value]="1">Registro civil</option>
                            <option [value]="2">Tarjeta Identidad</option>
                            <option [value]="3">Cedula de ciudadania</option>
                            <option [value]="4">Cedula extranjeria</option>
                            <option [value]="5">Pasaporte</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row" *ngIf="tipoDoc>0">
                    <label for="name" class="col-sm-3 col-form-label text-light"># Documento</label>
                    <div class="col-sm-9">
                        <input type="text" id="identificacion" formControlName="identificacion" class="form-control"
                            placeholder="# Documento" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="estado" class="col-sm-3 col-form-label text-white"
                       >
                        Género
                    </label>
                    <div class="col-sm-9">
                        <select id="estado" formControlName="genero" class="form-select">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>


                <div class="mb-3 row" *ngIf="tipoDoc==1 || tipoDoc==2">
                    <label for="name" class="col-sm-3 col-form-label text-light">Nombre madre</label>
                    <div class="col-sm-9">
                        <input type="text" id="nomMadre" formControlName="nomMadre" class="form-control"
                            placeholder="Nombre madre">
                    </div>
                </div>


                <div class="mb-3 row" *ngIf="tipoDoc==1 || tipoDoc==2">
                    <label for="name" class="col-sm-3 col-form-label text-light">Telefono madre</label>
                    <div class="col-sm-9">
                        <input type="text" id="telMadre" formControlName="telMadre" class="form-control"
                            placeholder="Telefono madre">
                    </div>
                </div>



                <div class="mb-3 row" *ngIf="tipoDoc==1 || tipoDoc==2">
                    <label for="name" class="col-sm-3 col-form-label text-light">Nombre padre</label>
                    <div class="col-sm-9">
                        <input type="text" id="nomPadre" formControlName="nomPadre" class="form-control"
                            placeholder="Nombre padre">
                    </div>
                </div>


                <div class="mb-3 row" *ngIf="tipoDoc==1 || tipoDoc==2">
                    <label for="name" class="col-sm-3 col-form-label text-light">Telefono padre</label>
                    <div class="col-sm-9">
                        <input type="text" id="telPadre" formControlName="telPadre" class="form-control"
                            placeholder="Telefono padre">
                    </div>
                </div>




                <!-- Imagen 1 -->
                <div class="mb-3 row" *ngIf="tipoDoc>0">
                    <label for="image1" class="col-sm-3 col-form-label text-light">{{this.labedoc1}}</label>
                    <div class="col-sm-9">
                        <input type="file" id="image1" (change)="uploadImage($event, 1)" class="form-control" required>
                    </div>
                </div>

                <!-- Imagen 2 -->
                <div class="mb-3 row" *ngIf="tipoDoc>0">
                    <label for="image2" class="col-sm-3 col-form-label text-light">{{this.labedoc2}}</label>
                    <div class="col-sm-9">
                        <input type="file" id="image2" (change)="uploadImage($event, 2)" class="form-control" required>
                    </div>
                </div>



                <div class="mb-3 row" *ngIf="tipoDoc>0">

                    <label for="image1" class="col-sm-3 col-form-label text-light">{{this.labedoc3}}</label>
                    <div class="col-sm-9">
                        <input type="file" id="image3" (change)="uploadImage($event, 3)" class="form-control" required>
                    </div>
                </div>



                <div class="mb-3 row" *ngIf="tipoDoc>0">

                    <label for="image1" class="col-sm-3 col-form-label text-light">{{this.labedoc4}}</label>
                    <div class="col-sm-9">
                        <input type="file" id="image4" (change)="uploadImage($event, 4)" class="form-control" required>
                    </div>
                </div>




                <!-- Botones -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-warning text-dark m-2" *ngIf="JugadorForm.valid">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                    </button>


                </div>



                <!-- Spinner debajo de los botones -->
                <div *ngIf="isLoading" class="d-flex flex-column align-items-center mt-3">
                    <img src="../../../assets/img/balon.png" alt="Cargando..." width="40" height="40"
                        class="balon-girando" />
                    <span class="mt-2 text-warning fw-bold">Procesando, por favor espera...</span>
                </div>


            </form>
        </div>
    </div>


</div>